<div class="row">
    <div class="col-xs-12">
        <app-members-edit></app-members-edit>
<img src=""
     alt=""
     class="image-responsive">

    </div>
</div>

<div class="row">
        <div class="col-xs-12">
<h1>Member Name</h1>
</div>
</div>
<div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <button
                 type="button" 
                 class="btn btn-primary dropdown-toggle">
                 Manage Members<span class="caret"></span>
            </button>
                 <ul class="dropdown-menu">
                     <li><a href="#">To members list</a></li>
                     <li><a href="#">Edit Members</a></li>
                     <li><a href="#">Delete Members</a></li>
                     
                 </ul>
            </div>
            </div> 
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        Description
                    </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12">
                                Books
                            </div>
                            </div>
                            